<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- App.config settings from LegacyOrderDesk move here (Module 2). -->
		<add key="Wisej.LicenseKey" value=""/>
		<add key="Wisej.DefaultTheme" value="Bootstrap-4"/>
		<add key="OrderDesk.StorageRoot" value="App_Data"/>
	</appSettings>
</configuration>
