<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- App.config moved here: the web project owns configuration now. -->
		<add key="Wisej.LicenseKey" value=""/>
		<add key="Wisej.DefaultTheme" value="Bootstrap-4"/>
		<add key="OrderDesk.StorageRoot" value="App_Data"/>
	</appSettings>
	<connectionStrings>
		<add name="OrderDesk" connectionString="Server=(local);Database=OrderDesk;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
